In [7]:
#normally we store the details we can use the dictionaries
#represents data for single person
person={
    'first':'aravind',
    'last':'reddy',
    'email':'malluriaravindreddy@gmail.com'
}

In [9]:
# reprsents data for multiple persons we will use list inside the dictionary.
people={
    'first':['aravind','rahul','jake'],
    'last':['reddy','panday','chris'],
    'email':['malluriaravindreddy@gmail.com','rahul16@gmail.com','chrisjake@gmail.com']
}
#here we can consider keys as columns and values as rows of the people dictionary.

In [10]:
#if we want see the email of all the peoples normally syntax is d['key']
people['email']

['malluriaravindreddy@gmail.com', 'rahul16@gmail.com', 'chrisjake@gmail.com']

In [11]:
#dataframes are very similar to this and have more functionality.
import pandas as pd

In [12]:
data=pd.DataFrame(people) #the data will be assigned into rows and columns

In [13]:
data

     first    last                          email
0  aravind   reddy  malluriaravindreddy@gmail.com
1    rahul  panday              rahul16@gmail.com
2     jake   chris            chrisjake@gmail.com

In [14]:
#accessing the column values of the data frame
data['email']

0    malluriaravindreddy@gmail.com
1                rahul16@gmail.com
2              chrisjake@gmail.com
Name: email, dtype: object

In [15]:
type(data['email'])

#Note:
#data frame is basically rows and columns  (two-dimensional array)
#series is only the rows of particular column (One-dimensional array)
#data frame is basically a container for the multiple series of these objects.

pandas.core.series.Series

In [16]:
#another way to access the column values of data frame
data.email

#note: I always prefer first one for accessing because for example if there is a method called count and if you had a column
# named count and you were trying to access that count column using dot notation that's actually going to access the count
# method from the dataframe instead of that count column

0    malluriaravindreddy@gmail.com
1                rahul16@gmail.com
2              chrisjake@gmail.com
Name: email, dtype: object

In [17]:
# data frames have lot more functionality than standard python.

In [18]:
# If we wanted to access multiple columns, now inorder to access multiple columns we can use the bracket notation and pass
# in a list of columns that we want. 
#So If i wanted the lastname and email columns then we would say
data[['last','email']]

#now that we are getting multiple columns this can no longer be a series because series is basically a single column of rows
# so when we get multiple columns like this it's just returning another dataframe and this case it's a filtered down data
# frame with just these specific columns. so we filtered out the first name column and we have last name and email.

     last                          email
0   reddy  malluriaravindreddy@gmail.com
1  panday              rahul16@gmail.com
2   chris            chrisjake@gmail.com

In [19]:
# if we want to see the columns of the dataframe
data.columns

Index(['first', 'last', 'email'], dtype='object')

In [20]:
# if we want to get the rows we can use loc and iloc indexes 
#iloc allow us to access rows by integer location, hence the name iloc is integer location.

#if we want to get the first row
data.iloc[0] #returns a series that contains a values of first row of data 

#here index is the column name what those values are, here actually accessing the row it's going to set that index to 
# column name.

first                          aravind
last                             reddy
email    malluriaravindreddy@gmail.com
Name: 0, dtype: object

In [21]:
# we can select multiple columns we can select multiple rows as well by passing in a list of integers if i want 1st and 2nd
# row 
data.iloc[[0,1]]

#by this we can get the two rows of data

     first    last                          email
0  aravind   reddy  malluriaravindreddy@gmail.com
1    rahul  panday              rahul16@gmail.com

In [22]:
# if we want to access the specified rows and columns for eg we want the email addresses of first two rows.
data.iloc[[0,1],2]

0    malluriaravindreddy@gmail.com
1                rahul16@gmail.com
Name: email, dtype: object

In [23]:
# with loc we can be searching labels, rows are also called as indexes now we don't have the custom indexes this index is 
# default range of integers.
data
#here 0 1 and 2 these are called labels if i want the first row then by default this just has a label of 0

     first    last                          email
0  aravind   reddy  malluriaravindreddy@gmail.com
1    rahul  panday              rahul16@gmail.com
2     jake   chris            chrisjake@gmail.com

In [24]:
data.loc[0]

first                          aravind
last                             reddy
email    malluriaravindreddy@gmail.com
Name: 0, dtype: object

In [25]:
#with iloc we can use integer to grab  the specific columns but using loc we can use lables for example if we want email
# column of these first two rows no we can just pass the value email.
data.loc[[0,1],'email']

0    malluriaravindreddy@gmail.com
1                rahul16@gmail.com
Name: email, dtype: object

In [26]:
# if we want last name and email for first two rows by using loc
data.loc[[0,1],['last','email']]

     last                          email
0   reddy  malluriaravindreddy@gmail.com
1  panday              rahul16@gmail.com

In [27]:
# if we want last name and email for first two rows by using iloc
data.iloc[[0,1],[1,2]]

     last                          email
0   reddy  malluriaravindreddy@gmail.com
1  panday              rahul16@gmail.com

In [28]:
import pandas as pd

In [29]:
df=pd.read_csv('Desktop/data/survey_results_public.csv')
schema_df=pd.read_csv('Desktop/data/survey_results_schema.csv')

In [31]:
pd.set_option('display.max_columns',61)
pd.set_option('display.max_rows',61)

In [32]:
df.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,NaN,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,White or of European descent,Man,Flex time or a flexible schedule;Office enviro...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,Not at all important/not necessary,Curious about other opportunities;Wanting to w...,NaN,Once a year,Not sure,Yes,Yes,Occasionally: 1-2 days per quarter but less th...,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Linux-based,20 to 99 employees,NaN,NaN,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per month or weekly,Multiple times per day,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [33]:
schema_df

,Column,QuestionText
0,Respondent,Randomized respondent ID number (not in order ...
1,MainBranch,Which of the following options best describes ...
2,Hobbyist,Do you code as a hobby?
3,Age,What is your age (in years)? If you prefer not...
4,Age1stCode,At what age did you write your first line of c...
5,CompFreq,"Is that compensation weekly, monthly, or yearly?"
6,CompTotal,What is your current total compensation (salar...
7,ConvertedComp,Salary converted to annual USD salaries using ...
8,Country,Where do you live?
9,CurrencyDesc,Which currency do you use day-to-day? If your ...
10,CurrencySymbol,Which currency do you use day-to-day? If your ...
11,DatabaseDesireNextYear,Which database environments have you done exte...
12,DatabaseWorkedWith,Which database environments have you done exte...
13,DevType,Which of the following describe you? Please se...
14,EdLevel,Which of the following best describes the high...
15,Employment,Which of the following best describes your cur...
16,Ethnicity,"Which of the following describe you, if any? P..."
17,Gender,"Which of the following describe you, if any? P..."
18,JobFactors,Imagine that you are deciding between two job ...
19,JobSat,How satisfied are you with your current job? (...
20,JobSeek,Which of the following best describes your cur...
21,LanguageDesireNextYear,"Which programming, scripting, and markup langu..."
22,LanguageWorkedWith,"Which programming, scripting, and markup langu..."
23,MiscTechDesireNextYear,"Which other frameworks, libraries, and tools h..."
24,MiscTechWorkedWith,"Which other frameworks, libraries, and tools h..."
25,NEWCollabToolsDesireNextYear,Which collaboration tools have you done extens...
26,NEWCollabToolsWorkedWith,Which collaboration tools have you done extens...
27,NEWDevOps,Does your company have a dedicated DevOps person?
28,NEWDevOpsImpt,How important is the practice of DevOps to sca...
29,NEWEdImpt,"How important is a formal education, such as a..."
30,NEWJobHunt,"In general, what drives you to look for a new ..."
31,NEWJobHuntResearch,"When job searching, how do you learn more abou..."
32,NEWLearn,How frequently do you learn a new language or ...
33,NEWOffTopic,Do you think Stack Overflow should relax restr...
34,NEWOnboardGood,Do you think your company has a good onboardin...
35,NEWOtherComms,Are you a member of any other online developer...
36,NEWOvertime,How often do you work overtime or beyond the f...
37,NEWPurchaseResearch,"When buying a new tool or software, how do you..."
38,NEWPurpleLink,You search for a coding solution online and th...
39,NEWSOSites,Which of the following Stack Overflow sites ha...
40,NEWStuck,What do you do when you get stuck on a problem...
41,OpSys,What is the primary operating system in which ...
42,OrgSize,Approximately how many people are employed by ...
43,PlatformDesireNextYear,Which platforms have you done extensive develo...
44,PlatformWorkedWith,Which platforms have you done extensive develo...
45,PurchaseWhat,"What level of influence do you, personally, ha..."
46,Sexuality,"Which of the following describe you, if any? P..."
47,SOAccount,Do you have a Stack Overflow account?
48,SOComm,Do you consider yourself a member of the Stack...
49,SOPartFreq,How frequently would you say you participate i...
50,SOVisitFreq,How frequently would you say you visit Stack O...
51,SurveyEase,How easy or difficult was this survey to compl...
52,SurveyLength,How do you feel about the length of the survey...
53,Trans,Are you transgender?
54,UndergradMajor,What was your primary field of study?
55,WebframeDesireNextYear,Which web frameworks have you done extensive d...
56,WebframeWorkedWith,Which web frameworks have you done extensive d...
57,WelcomeChange,"Compared to last year, how welcome do you feel..."
58,WorkWeekHrs,"On average, how many hours per week do you wor..."
59,YearsCode,"Including any education, how many years have y..."
60,YearsCodePro,"NOT including education, how many years have y..."

In [34]:
df.shape

(64461, 61)

In [35]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [39]:
df['Hobbyist']

0        Yes
1         No
2        Yes
3        Yes
4        Yes
5         No
6        Yes
7        Yes
8         No
9        Yes
10       Yes
11        No
12       Yes
13       Yes
14       Yes
15       Yes
16       Yes
17       Yes
18        No
19       Yes
20       Yes
21       Yes
22       Yes
23       Yes
24        No
25        No
26       Yes
27       Yes
28       Yes
29       Yes
        ...
64431    Yes
64432    Yes
64433    Yes
64434     No
64435    Yes
64436    Yes
64437    Yes
64438    Yes
64439    Yes
64440     No
64441    Yes
64442    Yes
64443    Yes
64444    Yes
64445    Yes
64446    Yes
64447    Yes
64448    Yes
64449    Yes
64450    Yes
64451    Yes
64452    Yes
64453    Yes
64454    Yes
64455    Yes
64456    Yes
64457    Yes
64458    Yes
64459    Yes
64460    Yes
Name: Hobbyist, Length: 64461, dtype: object

In [41]:
# as we wanted to know how many these responses were answered yes and how many were answered no if we were using regular
# python we might be import counter class or write a quick function or a loop to do this pandas has already built in stuff 
# so to get the count of unique values in this column we can use the value_counts method to caluculate this

df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [43]:
#now we have to grab the sepcific row and specific column for example if we want to grab the first row and same hobbyist 
# column here we can use loc because that's can allow us to use labels.
df.loc[0,'Hobbyist']

'Yes'

In [44]:
# if we want multiple rows for hobbyist column
df.loc[[0,1,2],'Hobbyist']

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [45]:
# we can alse use slicing to grab multiple rows and columns
df.loc[0:2,'Hobbyist']

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [46]:
df.loc[0:2,'Hobbyist':'Country']

,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country
0,Yes,NaN,13,Monthly,NaN,NaN,Germany
1,No,NaN,19,NaN,NaN,NaN,United Kingdom
2,Yes,NaN,15,NaN,NaN,NaN,Russian Federation